# <SQL_SCRIPT>
log_file=<LOG_FILE>
echo "Start <SQL_SCRIPT> at `date`"  >> log_file
scl enable rh-mariadb101 -- mysql -u "<user>" -h localhost <database> --password=<password> < <SQL_SCRIPT> >> log_file
echo "End <SQL_SCRIPT> at `date`" >> log_file
echo "" >> log_file