# <SQL_SCRIPT>
echo "Start <SQL_SCRIPT> at `date`"  >> <LOG_FILE>
scl enable rh-mariadb101 -- mysql -u "<user>" -h localhost <database> --password=<password> < <SQL_SCRIPT> >> <LOG_FILE>
echo "End <SQL_SCRIPT> at `date`" >> <LOG_FILE>
echo "" >> <LOG_FILE>